@{
    ViewData["Title"] = "Contact";
}
<h1>Thông tin liên hệ</h1>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h3>Thông tin sinh viên</h3>
            <p> <strong> Họ và tên: </strong> Phùng Thế Anh </p>
            <p> <strong> Mã sinh viên: </strong> 231220711 </p>
            <p> <strong> Email: </strong> anh018031@gmail.com </p>
            <p> <strong> Lớp: </strong> Công nghệ thông tin 1 </p>
            <p> <strong> Trường: </strong> Trường đại học Giao Thông Vận Tải </p>
        </div>
        <div class="col-md-6">
            <h3>Thông tin bài thi</h3>
            <p> <strong> Mã đề thi: </strong> DE01 </p>
            <p> <strong> Môn: </strong> Lập trình web </p>
            <p> <strong> Năm học: </strong> 2024 - 2025 </p>
    </div>
</div>

