<div class="list-group">
    <a href="#" class="list-group-item">Áo dài</a>
    <a href="#" class="list-group-item">Áo đông</a>
    <a href="#" class="list-group-item">Túi xách</a>
    <a href="#" class="list-group-item">Đồng hồ</a>
    <a href="#" class="list-group-item">Thời trang</a>
    <a href="#" class="list-group-item">Quạt điện</a>
</div>

