<!-- Begin Left menu -->
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Addons</div>
            <a class="nav-link" href="/Branches/List">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Branches
            </a>
            <a class="nav-link" href="/Students/List">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Students
            </a>
            <a class="nav-link" href="/Subjects/List">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Subjects
            </a>
            <a class="nav-link" href="/Courses/List">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Courses
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>
<!-- End Left menu -->

