
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    // Nếu bạn muốn sử dụng một Layout cụ thể cho trang admin này, hãy đặt ở đây.
    // Ví dụ: Layout = "_AdminLayout";
    // Nếu không, nó sẽ kế thừa từ _ViewStart.cshtml mặc định.


    ViewData["Title"] = "Dashboard - Hỏi Dân IT"; // Đặt tiêu đề cho trang
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Dự án laptopshop" />
    <meta name="author" content="ANH" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" /> 
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/main.min.css' rel='stylesheet' />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    @* {{-- Scripts của FullCalendar và dependency Moment.js --}} *@
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/locales-all.min.js'></script>
</head>

<body class="sb-nav-fixed">
    @await Html.PartialAsync("_Header") 

    <div id="layoutSidenav">
        @await Html.PartialAsync("_Sidebar")

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
            
            @await Html.PartialAsync("_Footer") 
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            crossorigin="anonymous"></script>
    <script src="~/js/chart-area-demo.js"></script> 
    <script src="~/js/chart-bar-demo.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
